{% extends "base.html" %}

{% block content %}
<div class="p-4">
    <div class="grid grid-cols-3 gap-4">
        {% for book in book_list %}
            <div>
                <a class="card bg-base-100 w-96 shadow-sm" href="{{ book.get_absolute_url }}">
                    <figure>
                        <img
                        src="{{ book.cover.url }}"
                        alt="{{ book.title }} cover" />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">{{ book.title }}</h2>
                        <p>{{ book.description }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}